<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>結帳成功</h2>
    <br />
    消費金額: <%=orders.trade_amt%> 元
  </body>
</html>
